<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Dealer</title>
	</head>
	<body>
		<h3 th:text= "'Alamat: ' + ${dealer.alamat}"></h3>
		<h3 th:text="'Telepon: ' + ${dealer.noTelp}"></h3>
		<a th:href="@{'/dealer/update/' + ${dealer.id}}">Update Dealer</a>
		<a th:href="@{'/dealer/delete/'}+ ${dealer.id}">Delete Dealer</a>
		<h4>==============================</h4>
		<h3 th:each="car : ${car}">
			<h3 th:text= "'Brand: ' + ${car.brand}"></h3>
			<h3 th:text="'Type: ' + ${car.type}"></h3>
			<h3 th:text= "'Price: ' + ${car.price}"></h3>
			<h3 th:text="'Amount: ' + ${car.amount}"></h3>
			<h4>----------------------------------</h4>		
		</h3>
	</body>
</html>